 body {
     background-color: lightgrey;
     background-image: url('../Pictures/Shoes/back.jpg');
     background-size: cover;
 }

 .home {
     display: flex;
     justify-content: center;
     flex-direction: row;
 }

 .home-men, .home-women {
     transition: all .2s ease-in-out;
 }

 .home-men:hover, .home-women:hover {
     transform: scale(1.05);
 }

 .home h3 {
     font-size: 30px;
     background-color: rgb(59, 112, 226);
     font-style: normal;
     height: 40px;
     margin-top: 0px;
     color: white;
     padding: 5px;
 }

 .home-men, .home-women {
     background-image: url('../Pictures/Shoes/men/m2.jpg');
     width: 300px;
     margin: 50px;
     background-size: cover;
     background-repeat: no-repeat;
     height: 250px;
     border-radius: 20px;
     -webkit-background-size: 100% 100%;
     -moz-background-size: 100% 100%;
     -o-background-size: 100% 100%;
     background-size: 100% 100%;
     margin-top: 10%;
 }

 .home-women {
     background-image: url('../Pictures/Shoes/women/w2.jpg');
 }